<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

#path to scripts directory
JOB_SCRIPTS_PATH=/var/lib/jenkins/jenkins_config/scripts

# run all build scripts
$JOB_SCRIPTS_PATH&quot;/run_build_scripts.sh&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.warnings.WarningsPublisher plugin="warnings@4.27">
      <healthy></healthy>
      <unHealthy></unHealthy>
      <thresholdLimit>low</thresholdLimit>
      <pluginName>[WARNINGS] </pluginName>
      <defaultEncoding></defaultEncoding>
      <canRunOnFailed>false</canRunOnFailed>
      <useStableBuildAsReference>false</useStableBuildAsReference>
      <useDeltaValues>false</useDeltaValues>
      <thresholds plugin="analysis-core@1.50">
        <unstableTotalAll></unstableTotalAll>
        <unstableTotalHigh></unstableTotalHigh>
        <unstableTotalNormal></unstableTotalNormal>
        <unstableTotalLow></unstableTotalLow>
        <failedTotalAll></failedTotalAll>
        <failedTotalHigh></failedTotalHigh>
        <failedTotalNormal></failedTotalNormal>
        <failedTotalLow></failedTotalLow>
      </thresholds>
      <shouldDetectModules>false</shouldDetectModules>
      <dontComputeNew>true</dontComputeNew>
      <doNotResolveRelativePaths>true</doNotResolveRelativePaths>
      <parserConfigurations/>
      <consoleParsers>
        <hudson.plugins.warnings.ConsoleParser>
          <parserName>GNU Compiler 4 (gcc)</parserName>
        </hudson.plugins.warnings.ConsoleParser>
        <hudson.plugins.warnings.ConsoleParser>
          <parserName>GNU Compiler 3 (gcc)</parserName>
        </hudson.plugins.warnings.ConsoleParser>
        <hudson.plugins.warnings.ConsoleParser>
          <parserName>GNU Make + GNU Compiler (gcc)</parserName>
        </hudson.plugins.warnings.ConsoleParser>
      </consoleParsers>
    </hudson.plugins.warnings.WarningsPublisher>
    <hudson.plugins.plot.PlotPublisher plugin="plot@1.5">
      <plots>
        <hudson.plugins.plot.Plot>
          <title>Line counts</title>
          <yaxis>Lines</yaxis>
          <series>
            <hudson.plugins.plot.PropertiesSeries>
              <file>cpp_comments.count</file>
              <label>comments</label>
              <fileType>properties</fileType>
            </hudson.plugins.plot.PropertiesSeries>
            <hudson.plugins.plot.PropertiesSeries>
              <file>cpp_code.count</file>
              <label>code</label>
              <fileType>properties</fileType>
            </hudson.plugins.plot.PropertiesSeries>
          </series>
          <group>Line count group</group>
          <numBuilds>100</numBuilds>
          <csvFileName>190485126.csv</csvFileName>
          <csvLastModification>0</csvLastModification>
          <style>stackedbar</style>
          <useDescr>false</useDescr>
        </hudson.plugins.plot.Plot>
      </plots>
    </hudson.plugins.plot.PlotPublisher>
  </publishers>
  <buildWrappers/>
</project>
